.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  background-image: url('background.png');
  background-repeat: repeat;
}

.description {
  top: 5px;
  width: 100%;
  font-family: var(--font-heading) !important;
  font-style: normal;
  font-size: 3em;
  line-height: .8em;
  text-transform: uppercase;
  z-index: 1;
}

.more {
  font-family: var(--font-heading);
  text-transform: uppercase;
  font-size: 28px;
  font-weight: 400;
  margin-bottom: 48px;
}

.counter {
  font-family: var(--font-heading);
}

.link {
  display: flex;
  gap: 16px;
  margin-bottom: 12px;
}

.link span {
  padding-bottom: 2px;
  border-bottom: 1.5px solid black;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: var(--max-width);
  max-width: 100%;
  margin: 2rem 2rem auto;
}

.grid > div {
  padding: 0.5em;
}

.carousel {
  margin: -0.3em;
  width: 100%;
  height: 60vh;
}

.cell {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-right: 64px;
  height: 100%;
}

.cell img {
  margin-top: auto;
  max-height: calc(100% - 30px);
}

.socials {
  display: flex;
  gap: 30px;
}

.socials img {
  height: 20px;
  width: 20px;
}
